#navbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(178, 63, 63);
    padding:3em 0em 3em 0em;
    margin:0em;
    width: 100vw;
}
#navbar div{
    margin-right: 2em;
}